{
   "id": "mock",
   "service_account_id": "mock",
   "created_at": "2022-07-09T17:29:19.448054703Z",
   "key_algorithm": "RSA_2048",
   "public_key": "-----BEGIN PUBLIC KEY-----\nmock\n-----END PUBLIC KEY-----\n",
   "private_key": "-----BEGIN PRIVATE KEY-----\nmock\n-----END PRIVATE KEY-----\n"
}
